<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Box2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Testbed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>glew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>067C9FFC9B5E47C981F91774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>375F7CEE967F4FC59711A253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5117FD93ADB44FE598862289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6128A668BA7B4945B00FACF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62E04BA2A382428BAAE8F63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750E101B6D05470AB7D85C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81E67E0293B4858877D7EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7D24C70683C4096A21EB04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
